@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html {
  --black: #080708;
  --white: #fafafa;
  --grey: #7e7a7d;
  --platinum: #e6e8e6;

  --forest: #80a071;
  --olive: #b8d5ae;
  --green: #e9edc9;
  --creme: #fefae0;
  --sand: #f5f0dc;
  --coffee: #b58e78;

  --space-bigger: 2.4rem;
  --space-big: 2rem;
  --space-reg: 1.6rem;
  --space-half: 0.8rem;
  --space-small: 0.4rem;
  --space-smaller: 0.2rem;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* scrollbar-width: none; */
}

/* general styling */

body {
  display: grid;
  place-items: center;
}

header {
  margin: var(--space-big);
}

main {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  place-items: center;
  overflow: hidden;
}

/* nav */

nav {
  position: sticky;
  top: 10px;
  z-index: 10;
  padding: var(--space-smaller);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(64, 64, 64, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

ul {
  display: flex;
  flex-direction: row;
  scrollbar-width: none;
  overflow: scroll;
}

li {
  background-color: var(--olive);
  display: grid;
  place-items: center;
  text-align: center;
  list-style: none;
  min-width: 6rem;
  height: 5.5rem;
  padding: var(--space-half);
  margin: var(--space-small);
  transition: all 0.3s ease-in-out;

  & a {
    color: var(--black);
  }
}

li:hover {
  background-image: url(/assets/grass.webp);

  & a {
    color: var(--white);
  }
}

/* article */

.article-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scrollbar-width: none;
  overflow: scroll;
}

article {
  width: 95%;
  background-color: var(--sand);
  padding: var(--space-small) var(--space-smaller);
  margin: var(--space-half);
  border: 3px solid var(--forest);
  border-radius: 6px;

  & a {
    color: var(--black);
  }

  & a:visited {
    color: var(--black);
  }

& h2 {
  font-size: 1.75rem;
}
}

/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sidebar img {
  margin: var(--space-small);
}

/* sidebar left */

.sidebar-left img:first-of-type {
  translate: 2rem 0;
}

/* sidebar right */

.sidebar-right {
  padding-top: 8rem;
}

.sidebar-right img:nth-of-type(2) {
  translate: -1rem 0;
  transition: .2s ease-in-out;
}

.sidebar-right img:nth-of-type(2):hover {
  translate: 2rem 0;
  scale: 1.02;
  rotate: 2deg;
}

.sidebar-right img:nth-of-type(2):active {
  scale: 0.98;
  rotate: 1deg;
}