---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description='We Love Web Blogs - this page has all we love web blogs.'
  pageTitle='We Love Web - Blog'
>
  <main class='bg-green p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
